        <main>
            <div class="containe_form mx-auto">
                <span><% if(message != ""){ message } %></span>
                <form class="formulario" action="/cadastrar" method="POST">
                    <h2>Conte-nos sua experiência!</h2>
                    <div>
                        <label for="lugar"> Lugar:</label>
                        <input type="text" id="lugar" name="lugar" required>
                    </div>
                    <div>
                        <label for="frase"> Frase:</label>
                        <input type="text" id="frase" name="frase" required>
                    </div>
                    <div>
                        <label for="descricao">Descrição:</label>
                        <input type="text" id="descricao" name="descricao" required>
                    </div>
                    <div>
                        <label for="estrutura">Estrutura:</label>
                        <input type="text" id="estrutura" name="estrutura" required>
                    </div>
                    <div>
                        <label for="atividades">Atividades:</label>
                        <input type="text" id="atividades" name="atividades" required>
                    </div>
                    <div>
                        <label for="imagem">Imagem:</label>
                        <input type="text" id="imagem" name="imagem" required>
                    </div>
                    <span class="container_btn">
                        <button  class="btn" type="submit"><b>Cadastrar</b></button>
                    </span>
                </form>
                <div class="img">
                     <img src="/IMG/Trip-pana.png" alt="formulario" width="400">
                </div>
            </div>
        </main>
